<script id="MainView" type="text/html">
	<div class="MainView">
		<div class="MainView-header">
			<div class="navbar navbar-default">
				<div class="app-logo">todoMVC</div>
				<a class="log-off pull-right">Log off</a>
			</div>
		</div>
		<div class="MainView-content"></div>
	</div>
</script>