<script id="TodoList" type="text/html">
	<div class="TodoList">
		<div class="add-con">
			<input type="text" name="name" class="form-control task-name" placeholder="Enter task name" />
			<div class="btn btn-primary btn-add">Add Task</div>
		</div>
		<div class="items-con">
			
		</div>
	</div>
</script>

<script id="TodoList-items" type="text/html">
	{{#each items}}
		<div class="item" data-entity-id="{{id}}">
			<span class="name">{{name}}</span>
			<div class="bottom-con">
				<span class="btn btn-danger btn-delete">Delete</span>
				<span class="status-con">
					{{#if done}}
						<span class="status-label">Done</span>
					{{else}}
						<span class="btn btn-default btn-done">Done</span>
					{{/if}}
				</span>
			</div>
		</div>
	{{/each}}
</script>