<script id="TodoList" type="text/html">
	<div class="TodoList">
		<div class="add-con">
			<input type="text" name="name" class="form-control task-name" placeholder="Enter task name" />
			<div class="btn btn-primary btn-add">Add Task</div>
		</div>
		<div class="items-con">
			
		</div>
	</div>
</script>

<script id="TodoList-items" type="text/html">
	<div class="item" data-entity-id="{{item.id}}">
		<div class="top-con">
			<span class="name">{{item.name}}</span>
		</div>
		<div class="mid-con">
			Status: <span class="status">{{item.status}}</span>
		</div>
		<div class="bottom-con">
			<span class="btn btn-danger btn-delete">Delete</span>
			<span class="status-con">
				{{#check item.status "==" "Init"}}
					<span class="btn btn-default btn-doing">Doing</span>
				{{/check}}
				{{#check item.status "==" "Doing"}}
					<span class="btn btn-default btn-done">Done</span>
				{{/check}}
			</span>
		</div>
	</div>
</script>