.TodoPopup{
	.Popup-con{
		width: 400px;
		height: 300px;
		.form-group{
			&:first-child{
				margin-top: 16px;
			}
			.control-label{
				line-height: 20px;
			}
		}
		.state-group{
			@mixin clearfix;
			.check-label{
				float: left;
				margin-right: 16px;
			}
			.radios-con{
				margin-left: 64px;
			}
		}
	}
}